.chatPage {
  display: flex;
  height: 100vh;
}

.userListContainer {
  width: 20%;
  border-right: 1px solid #ccc;
  padding: 10px;
}

.chatContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
}
